Aggregation in SQL
-----

In [1]:
%load_ext sql
%sql sqlite:///world-db

**Exercise #1**: Write a query that outputs for each country the population of the most populated city, for countries with at least 10 cities.

In [2]:
%%sql
SELECT C.NAME AS Country, MAX(T.Population) AS N
FROM City T, Country C
WHERE C.Code = T.CountryCode
GROUP BY C.Name
HAVING COUNT(T.ID) > 9
ORDER BY N DESC ;

 * sqlite:///world-db
Done.

[('India', 10500000),
 ('South Korea', 9981619),
 ('Brazil', 9968485),
 ('China', 9696300),
 ('Indonesia', 9604900),
 ('Pakistan', 9269265),
 ('Turkey', 8787958),
 ('Mexico', 8591309),
 ('Russian Federation', 8389200),
 ('United States', 8008278),
 ('Japan', 7980230),
 ('United Kingdom', 7285000),
 ('Egypt', 6789479),
 ('Iran', 6758845),
 ('Peru', 6464693),
 ('Thailand', 6320174),
 ('Colombia', 6260862),
 ('Congo, The Democratic Republic of the', 5064000),
 ('Chile', 4703954),
 ('Iraq', 4336000),
 ('Vietnam', 3980000),
 ('Bangladesh', 3612850),
 ('Germany', 3386667),
 ('Myanmar', 3361700),
 ('Saudi Arabia', 3324000),
 ('Australia', 3276207),
 ('Argentina', 2982146),
 ('Morocco', 2940623),
 ('Spain', 2879052),
 ('Italy', 2643581),
 ('Taiwan', 2641312),
 ('Ukraine', 2624000),
 ('North Korea', 2484000),
 ('South Africa', 2352121),
 ('Cuba', 2256000),
 ('Philippines', 2173831),
 ('Algeria', 2168000),
 ('France', 2125246),
 ('Uzbekistan', 2117500),
 ('Ecuador', 2070040),
 ('Romania', 2016131),
 ('Venezuela', 1975294),
 ('Tanzania', 1747000),
 ('Belarus', 1674000),
 ('Poland', 1615369),
 ('Nigeria', 1518000),
 ('Syria', 1347000),
 ('Malaysia', 1297526),
 ('Sudan', 1271403),
 ('Czech Republic', 1181126),
 ('Kazakstan', 1129400),
 ('Bulgaria', 1122302),
 ('Mozambique', 1018938),
 ('Canada', 1016376),
 ('Sweden', 750348),
 ('Netherlands', 731200),
 ('Israel', 633700)]

Let's see how the use of `HAVING` compares with the use of correlated queries. Suppose that we want to find the names of the countries that have more than 10 cities with population at least 1 million. Here is a nested query that computes that:

In [ ]:
%%sql
SELECT C.name
FROM Country C
WHERE (SELECT COUNT(*) 
       FROM City
       WHERE City.CountryCode=C.Code
       AND City.Population >= 1000000) > 10;

We can measure the execution time of the query using `%time`.

In [ ]:
%time %sql SELECT C.name FROM Country C WHERE (SELECT COUNT(*) FROM City WHERE City.CountryCode=C.Code AND City.Population >= 1000000) > 10;

**Exercise #2**: Write the above query using `HAVING` and time its execution. How much faster does it run?

In [ ]:
%time %sql SELECT C.name FROM Country C, City T WHERE T.CountryCode=C.Code AND T.Population >= 1000000 GROUP BY C.name HAVING COUNT(*)> 10;